# Python caches and logs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
.venv-build/

# Build outputs and installers
build/
dist/
output/
*.toc
*.pkg
*.pyz
*.zip

# IDE/project files
.idea/
.vscode/

# OS-specific junk
Thumbs.db
.DS_Store

# Local temporary files
instruction.txt


(Mielle Uccello) Tifa's Theme (Final Fantasy 7).mid
.gitignore
achineseghoststory.mid
(Yukiko Niijima) FFVIII - Balamb Garden.mid
